<body>
    <div class="main-container">

        <form action="#" method="post">

            <div class="container">
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Email do Usuário (Obrigatório)" name="email">

                <label for="nome"><b>Nome Completo</b></label>
                <input type="text" placeholder="Nome do Usuário (Obrigatório)" name="username" >

                <label for="password"><b>Senha</b></label>
                <input type="password" placeholder="Senha do Usuário (Obrigatório)" name="password" >

                <label for="password"><b>Confirmar Senha</b></label>
                <input type="password" placeholder="Confirmar Senha do Usuário (Obrigatório)" name="password" >

                <button type="submit" >Cadastrar</button>
                <label>
                <input type="checkbox" checked="checked" name="accept-terms" >Aceito os termos de Uso
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <a routerLink=""><button type="button" id="cancelbtn" class="cancelbtn">Voltar</button></a>
            </div>
        </form>
    </div>
</body>