body {
    display: table;
    margin: auto;
}

.main-container {
    min-width: 500px;
    display: table-cell;
    vertical-align: middle;
}

.submit-btn {
    background-color: #4C76E1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.submit-btn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #EB4C60;
}

.cancelbtn {
    margin: 10px 0 10px 0;
}

.footer {
    padding: 0 20px 0 20px;
}

.container {
    min-width: 80%;
    padding: 16px;
}

span.password {
    float: right;
    padding-top: 16px;
}

.error {
    color: red;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 300px) {
    .main-container {
        min-width: 100px;
    }
    span.password {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}