<body>
    <div class="main-container">

        <form action="#" method="post">

            <div class="container">
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Email do Usuário" name="email" required>

                <label for="nome"><b>Nome Completo</b></label>
                <input type="text" placeholder="Nome do Usuário" name="username" required>

                <label for="password"><b>Senha</b></label>
                <input type="password" placeholder="Senha do Usuário" name="password" required>

                <label for="password"><b>Confirmar senha</b></label>
                <input type="password" placeholder="Confirmar senha do Usuário" name="password" required>

                <button type="submit">Cadastrar</button>
                <label>
                <input type="checkbox" checked="checked" name="remember">Lembrar de mim
              </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <a routerLink="/landing-component"><button type="button" class="cancelbtn">Voltar</button></a>
            </div>
        </form>
    </div>
</body>