<body>
    <div class="container">
        <h1>Encontre aqui um lar para chamar de seu!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia elit id orci consectetur, semper malesuada lacus fringilla. Nunc vel dolor faucibus felis placerat elementum. Nunc viverra orci at justo fringilla, in lobortis odio vestibulum.
            Vivamus id mi ultrices, consectetur sapien vitae, accumsan ante. Nulla eleifend tempor dolor. Maecenas et justo mauris.</p>
    </div>
</body>