@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-top: 25vh;
    padding-bottom: 25vh;
    padding-left: 50px;
    max-width: 50%;
}

.container h1 {
    font-size: 45px;
    color: #4C76E1;
    font-weight: 500;
    line-height: 45px;
}

.container p {
    font-size: 15px;
}