<mat-card>
  <mat-stepper orientation="vertical" linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Tipo de espaço você vai hospedar</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Imóvel</mat-label>
          <mat-select formControlName="firstCtrl" required>
            <mat-option *ngFor=" let Imovel of Imoveis" [value]="Imovel.value">
              {{Imovel.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Avançar</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Onde fica sua acomodação?</ng-template>
        <div class="Rua_num">
          <mat-form-field appearance="outline">
            <mat-label>Endereço</mat-label>
            <input matInput formControlName="secondCtrl" placeholder="Ex. Rua Castro Alves"
                  required>
            
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input matInput formControlName="thirdCtrl" type="number" placeholder="Ex. 45"
                  required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput formControlName="fourthCtrl" placeholder="Ex. Fortaleza"
                  required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="fifthCtrl" required>
              <mat-option *ngFor=" let Estado of Estados" [value]="Estado.value">
                {{Estado.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input matInput #cep formControlName="sixthCtrl" placeholder="Ex. 50615-330"
                  required maxlength="8">
            <mat-hint align="end">{{cep.value.length}} / 8</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Avançar</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Caracterìsticas da Acomodação</ng-template>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Hóspedes</mat-label>
            <input matInput formControlName="seventhCtrl" type="number" placeholder="N° de Hóspedes"
                  required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Quartos</mat-label>
            <input matInput formControlName="eigthCtrl" type="number" placeholder="N° de Quartos"
                  required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Banheiros</mat-label>
            <input matInput formControlName="ninethCtrl" type="number" placeholder="N° de Banheiros"
                  required>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Avançar</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <ng-template matStepLabel>Vamos adicionar algumas fotos do seu espaço?</ng-template>
      
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Avançar</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup">
      <ng-template matStepLabel>Últimos Passos</ng-template>
      <div>
        <mat-form-field appearance="outline">
            <mat-label>Definir seu preço</mat-label>
            <input matInput formControlName="tenthCtrl" type="number" placeholder="Valor do Ímovel"
                      required>
        </mat-form-field>
      </div>
      <div>   
        <mat-form-field appearance="outline">
          <mat-label>Crie seu Título</mat-label>
          <textarea matInput #title formControlName="eleventhCtrl" maxlength="50"required placeholder="Ex. It makes me feel..."></textarea>
          <mat-hint align="end">{{title.value.length}} / 50</mat-hint>
        </mat-form-field>
      </div>
      <div>    
        <mat-form-field appearance="outline">
          <mat-label>Crie sua descrição</mat-label>
          <textarea matInput #disc formControlName="twelvethCtrl" maxlength="500"required placeholder="Ex. It makes me feel..."></textarea>
          <mat-hint align="end">{{disc.value.length}} / 500</mat-hint>
        </mat-form-field>
      </div>  
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Avançar</button>
      </div>
    </mat-step>
  </mat-stepper>
  <mat-progress-bar mode="determinate" value = "valor" ></mat-progress-bar>
</mat-card>
  