<body>
    <div class="main-container">

        <form action="#" method="post">

            <div class="container">
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Email do Usuário" name="email" [(ngModel)]="user.email">

                <label for="password"><b>Senha</b></label>
                <input type="password" placeholder="Senha do Usuário" name="password" [(ngModel)]="user.password">

                <button type="submit" (click)="userLogin(user)">Entrar</button>
                <label>
                <input type="checkbox" checked="checked" name="remember">Lembrar de mim
              </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <a routerLink=""><button type="button" class="cancelbtn">Voltar</button></a>
                <span class="password">Esqueci minha <a href="#">senha?</a></span>
            </div>
        </form>
    </div>
</body>