body {
    display: table;
    margin: auto;
}

.main-container {
    min-width: 20%;
    display: table-cell;
    vertical-align: middle;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(148, 95, 95);
    box-sizing: border-box;
}

button {
    background-color: #4C76E1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #EB4C60;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #EB4C60;
}

.cancelbtn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #4C76E1;
}

.container {
    padding: 16px;
}

span.password {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.password {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}