<mat-form-field  class="range-date-input"  appearance="outline">
    <mat-label>Check-in - Check-out</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [dateFilter]="myFilter" [min]="minDate"
      [max]="maxDate" required>
      <input matStartDate formControlName="start" placeholder="Início" (dateChange)="startDateChanged($event)"
        readonly required>
      <input matEndDate formControlName="end" placeholder="Fim" readonly required>
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker" button-cy="calendar-toggle"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>


  <mat-card-actions fxLayout="space-between space-between">
    <button mat-raised-button class='cancel-btn' (click)="changeDate()" color='primary'>Confirmar</button>
    <button mat-raised-button class='cancel-btn' (click)="closeDialog()" color='warn'>Cancelar</button>
  </mat-card-actions>