.modal {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px #333;
    position: fixed;
    left: 50%;
    padding: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    width: 350px;
    height: auto;
}

.overlay {
    background: #000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}