<div class="accomodation-container" fxLayoutAlign="center center">
    <mat-card class="accomodation-card">
        <mat-card-title class="title">{{ accommodation.title }}</mat-card-title>
        <mat-card-subtitle> 
            <span>
                {{ accommodation.type }}
            </span>
            <span> &centerdot; </span>
            <span>
                {{ accommodation.capacity > 1 ? accommodation.capacity + ' hóspedes' :
                accommodation.capacity + ' hóspede' }}
            </span>
            <span> &centerdot; </span>
            <span>
                {{ accommodation.rooms > 1 ? accommodation.rooms + ' quartos' :
                accommodation.rooms + ' quarto' }}
            </span>
            <span> &centerdot; </span>
            <span>
                {{ accommodation.bathrooms > 1 ? accommodation.bathrooms + ' banheiros' :
                accommodation.bathrooms + ' banheiro' }}
            </span>
            
        </mat-card-subtitle>
        <mat-card-content fxLayout.gt-sm="row" fxLayoutGap.gt-sm="40px">
            <div class="accommodation-info">
                <p class="description">{{ accommodation.description }}</p>
                <mat-divider [inset]="true"></mat-divider>
                <h2 class="address">Endereço</h2>
                <p>
                    {{ accommodation.street }}, {{ accommodation.number }}<br>
                    {{ accommodation.city }}, {{ accommodation.state }}<br>
                    CEP: {{ accommodation.zipcode }}
                </p>
            </div>
            <div class="renting">
                <mat-card class="renting-card">
                    <mat-card-title class="price">{{ this.stringifyPrice(accommodation.price) }}<span>/noite</span></mat-card-title>
                    <mat-divider [inset]="true"></mat-divider>
                    <mat-card-content fxLayout="column" fxFlexLayout="stretch" fxLayoutGap="5px">
                        <span class="date-label">Período de aluguel</span>
                        <mat-form-field appearance="outline">
                            <mat-label>Check-in - Check-out</mat-label>
                            <mat-date-range-input [formGroup]="range" [rangePicker]="picker" required>
                                <input matStartDate formControlName="start" placeholder="Início" readonly required>
                                <input matEndDate formControlName="end" placeholder="Fim" readonly required>
                            </mat-date-range-input>
                            <mat-error>
                                Por favor, selecione uma data.
                            </mat-error>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker>
                                <mat-date-range-picker-actions>
                                    <button mat-button (click)="range.reset()" matDateRangePickerCancel>Limpar</button>
                                    <button mat-raised-button color="primary" matDateRangePickerApply>Confirmar</button>
                                </mat-date-range-picker-actions>
                            </mat-date-range-picker>
                        </mat-form-field>
                        <span class="guests-label">Hóspedes</span>
                        <div class="guests" fxLayoutAlign="space-between center">
                            <button mat-icon-button [disabled]="guests == 0" (click)="minusGuests()">
                                <mat-icon>remove_circle_outline</mat-icon>
                            </button>
                            <span>{{ guests }}</span>
                            <button mat-icon-button [disabled]="guests == accommodation.capacity" (click)="plusGuests()">
                                <mat-icon>add_circle_outline</mat-icon>
                            </button>
                        </div>
                        <button mat-raised-button class="renting-button" [disabled]="false">
                            Reservar
                        </button>
                        <div class="total" *ngIf="range.valid" fxLayoutAlign="space-between center">
                            <span>Total</span>
                            <span>
                                {{ this.stringifyPrice(accommodation.price * (range.value['end'] - range.value['start'])/86400000) }}
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
</div>
