* {
    font-family: 'Raleway', sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.payment-body {
    height: 90vh;
}

.payment-container {
    margin: 0px 10px;
}

.title {
    font-size: 40px;
    height: 40px;
    font-weight: bold;
    text-align: center;
}

.payment-button {
    background-color: #4C76E1;
    color: white;
    border-radius: 5px;
    font-weight: 510;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px 0px;
}

.rental-card {
    max-width: 600px;
    padding: 20px;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.mat-divider {
    padding-bottom: 10px;
}

.rental-info span {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

.price-info span {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

mat-form-field {
    width: 100%;
}

.total span {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}