<div class="payment-body" fxLayoutAlign="center center">
    <div class="payment-container" fxLayout.lt-md="column" fxLayoutAlign.gt-sm=" start" fxLayoutGap="50px">
        <p class="title" fxShow.gt-sm="false">Pagamento</p>
        <mat-card class="rental-card">
            <mat-card-content fxLayout="row" fxLayoutGap="20px">
                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                <div>
                    <mat-card-title><b>{{ accommodation.title }}</b></mat-card-title>
                    <mat-card-subtitle>{{ accommodation.city }}, {{ accommodation.state }}</mat-card-subtitle>
                </div>
            </mat-card-content>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-content class="rental-info">
                <h2>Seu aluguel</h2>
                <p fxLayoutAlign="space-between">
                    <span>Hóspedes:</span>
                    <span>{{ guests }}</span>
                </p>
                <p fxLayoutAlign="space-between">
                    <span>De:</span>
                    <span>{{ this.stringifyDate(start) }}</span>
                </p>
                <p fxLayoutAlign="space-between">
                    <span>Até:</span>
                    <span>{{ this.stringifyDate(end) }}</span>
                </p>
            </mat-card-content>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-content class="price-info">
                <h2>Informações de preço</h2>
                <p fxLayoutAlign="space-between">
                    <span>{{ this.stringifyPrice(accommodation.price) }} x {{ nights > 1 ? nights + ' noites' : nights + ' noite' }}</span>
                    <span>{{ this.stringifyPrice(accommodation.price) }}</span>
                </p>
            </mat-card-content>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-content class="total" fxLayoutAlign="space-between">
                <span>Total</span>
                <span>{{ this.stringifyPrice(accommodation.price * nights) }}</span>
            </mat-card-content>
        </mat-card>
        <form [formGroup]="paymentForm" fxLayout="column" fxFlexAlign="stretch">
            <p class="title" fxHide.lt-md="true">Pagamento</p>
            <mat-form-field appearance="outline">
                <mat-label>Método de pagamento</mat-label>
                <mat-select formControlName="method">
                    <mat-option>----Selecione----</mat-option>
                    <mat-option value="crédito">Cartão de crédito</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Número do cartão</mat-label>
                <input matInput type="number" formControlName="card_number" placeholder="0000 0000 0000 0000">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Nome no cartão</mat-label>
                <input matInput type="text" formControlName="card_name" placeholder="Fulano de Tal">
            </mat-form-field>
    
            <table><tr>
                <td><mat-form-field appearance="outline">
                    <mat-label>Validade</mat-label>
                    <input matInput formControlName="expiry" placeholder="MM/AA">
                </mat-form-field></td>
                <td><mat-form-field appearance="outline">
                    <mat-label>CVV</mat-label>
                    <input matInput type="number" formControlName="cvv" placeholder="123">
                </mat-form-field></td>
            </tr></table>
    
            <button mat-raised-button class="payment-button">
                Confirmar e pagar
            </button>
        </form>
    </div>
</div>
