<!doctype html>
<!-- doctype informa ao agente de usuario a versão do html que deve ser renderizada-->
<html lang="pt-br">
    <head>
        <title> Projeto Fashion </title>
        <meta charset="utf-8">
        <meta name="author" content="Gabriel Felipo">
        <meta name="description" content="Projeto Fashion">
        <meta name="keywords" content="html5, tecnologia">
    </head>

    <body>
        <div>
            <header class="hero">
                <nav>
                    <div class="logo">
                        <a href="index.html"><img src="../assets/fashion/logo.png" alt="Airbenebe logo"></a>
                    </div>
                    <ul>
                        <li><a href="index.html" class="button">Entrar</a></li>
                        <li><a href="index.html" class="button">Cadastrar</a></li>
                    </ul>
                </nav>
            </header>
            <main>
                <article class="content-section">
                    <section class="text-section">
                        <div class= "back">
                            <h1>Encontre um lar para chamar de seu</h1>
                            <p>
                                Lörem ipsum homogen plagen och suna, nyre. Primaform tårade hemihet. 
                                Saska mikroktiga abänt. Dir nisk. Ödeskade kaktiga de nydorade. 
                            </p>
                        </div>
                    </section>
                    <section class="card-section">
                        <div class="card card-1">
                            <img src="../assets/fashion/casa1.png" alt="">
                            <h3>Casa no lago</h3>
                            <p>Calmo e tranquilo</p>
                        </div>
                        <div class="card card-2">
                            <img src="../assets/fashion/casa2.png" alt="">
                            <h3>Casa na árvore</h3>
                            <p>Natural e selvagem</p>
                        </div>
                        <div class="card card-3">
                            <img src="../assets/fashion/casa3.png" alt="">
                            <h3>Casa rica minecraft</h3>
                            <p>Luxuoso e sofisticado</p>
                        </div>
                    </section>
                </article>
                <!-- Uma forma de colocar os mapas bem daora, descomentem pra ver como fica
                <section class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63217.0661294786!2d-35.081886720898424!3d-7.992055999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab055103d0394d%3A0x6529231a5e65a33d!2sPoliana%20Fast%20Fashion!5e0!3m2!1spt-BR!2sbr!4v1642589209091!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </section>
                -->
            </main>
            <footer>
                <p>Copyright &copy; Airbenebe.com</p>
            </footer>
        </div>
    </body>
</html>