@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}

.header {
    width: 100%;
}

.btns {
    right: 10px;
    position: absolute;
    margin-left: 10px;
}

.btn {
    background-color: #4C76E1;
    border: none;
    color: white;
}

.btn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #EB4C60;
}

.btns .register,
.btns .login {
    margin-right: 15px;
}

.header .logo {
    max-height: 50px;
    max-width: 200px;
    height: auto;
    width: auto;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 25px;
}


/* modal */

.btn-modal-style {
    background-color: #4C76E1;
    border: none;
    color: white;
    padding: 10px 0px 10px;
    width: 75%;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    height: 50%;
    display: inline-block;
}

.btn-modal-style:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #EB4C60;
}

.Popup {
    text-align: center;
}

.Popup h1 {
    font-size: 30px;
    font-weight: 500;
}

.Senha-F {
    text-align: left;
    margin: 2% 0% 6% 12%;
}

input[type=text],
input[type=password] {
    width: 75%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #5697C7;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: center;
}

input[type=text]::placeholder,
input[type=password]::placeholder {
    font-size: 15px;
    color: rgb(189, 189, 189);
    height: 50%;
}

.btn-modal a {
    font-size: 20px;
}

.terms {
    margin: 3% 0%;
}